<section>
    <article>
        <ul>
            <li *ngFor="let curso of cursos">{{ curso }}</li>
        </ul>
        <div>
            <h3>Property Binding</h3>
            <img src="{{ imagemUrl }}" alt="">
            <img [src]="imagemUrl" alt="">
        </div>

        <div>
            <h3>Class e Style Binding</h3>
            <div>
                Selecione uma classe
                <select #classe (change)="0" name="" id="">
                    <option value="alert-success">Sucesso</option>
                    <option value="alert-info">Info</option>
                    <option value="alert-warning">Alerta</option>
                    <option value="alert-danger">Erro</option>
                </select>

                <br>

                <div class="alert {{ classe.value }}" role="alert">
                    Texto
                </div>

                <div class="alert {{ classe.value }}" role="alert"
                    [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">
                    Esse texto somente aparece em caso de erro.
                </div>

                <div class="alert" [class.alert-success]="classe.value == 'alert-success'" role="alert">...</div>
                <div class="alert" [class.alert-info]="classe.value == 'alert-info'" role="alert">...</div>
                <div class="alert" [class.alert-warning]="classe.value == 'alert-warning'" role="alert">...</div>
                <div class="alert" [class.alert-danger]="classe.value == 'alert-danger'" role="alert">...</div>
            </div>
        </div>

        <div>
            <h3>Event Binding</h3>
            <div>
                <button class="btn btn-primary" (click)="botaoClicado()">Clique</button>

                <br><br>

                <input type="text" 
                (keyup)="onKeyUp($event)"
                (keyup.enter)="salvarValor(campoInput.value)"
                (blur)="salvarValor(campoInput.value)"
                #campoInput/>
                <p> Valor Atual: {{ valorAtual }}</p>
                <p> Valor Salvo: {{ valorSalvo }}</p>

                <br>

                <span
                    (mouseover)="onMouseOverOut()"
                    (mouseout)="onMouseOverOut()"
                    [class.highlight]="isMouseOver">
                    Passe o mouse sobre mim
                </span>
            </div>
        </div>

        <div>
            <h3>Two-way data Binding</h3>
            <div>
                <input type="text" [(ngModel)]="pessoa.nome">
                <input type="text" [(ngModel)]="pessoa.idade">

                <p>Você digitou o nome: {{ nome }}</p>
            </div>
        </div>

        <div>
            <h3>Input Propertie</h3>
            <div>
                <app-input [nomeCurso]="nomeDoCurso"></app-input>
            </div>
        </div>

        <div>
            <h3>Output Propertie</h3>
            <div>
                <contador valor="10" (mudouValor)="onMudouValor($event)"></contador>
            </div>
        </div>
    </article>
</section>