<form class="form" [formGroup]="formulario" (submit)="onSubmit()">
  <h3>Data form</h3>
  <div fxLayout="column" fxLayoutAlign="center stretch">
    <mat-form-field appearance="outline" fxFlex="100">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="nome">
      <mat-error> {{getErrorMessage('nome')}} </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="100">
      <mat-label>Email</mat-label>
      <input matInput placeholder="email@email.com" formControlName="email">
      <mat-error> {{getErrorMessage('email')}} </mat-error>
    </mat-form-field>
  </div>

  <div formGroupName="endereco">
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <mat-form-field appearance="outline" fxLayoutGap fxFlex="25">
        <mat-label>CEP</mat-label>
        <input matInput placeholder="00000-000" formControlName="cep" (blur)="consultaCep()">
        <mat-error> {{getErrorMessage('endereco.cep')}} </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxLayoutGap fxFlex="25">
        <mat-label>Número</mat-label>
        <input matInput formControlName="numero">
        <mat-error> {{getErrorMessage('endereco.numero')}} </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxLayoutGap fxFlex="45">
        <mat-label>Complemento</mat-label>
        <input matInput formControlName="complemento">
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Rua</mat-label>
      <input matInput formControlName="rua">
      <mat-error> {{getErrorMessage('endereco.rua')}} </mat-error>
    </mat-form-field>

    <div fxLayout="row" fxLayoutAlign="space-between start">
      <mat-form-field appearance="outline" fxLayoutGap fxFlex="35">
        <mat-label>Bairro</mat-label>
        <input matInput formControlName="bairro">
        <mat-error> {{getErrorMessage('endereco.bairro')}} </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxLayoutGap fxFlex="30">
        <mat-label>Cidade</mat-label>
        <input matInput formControlName="cidade">
        <mat-error> {{getErrorMessage('endereco.cidade')}} </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxLayoutGap fxFlex="25">
        <mat-label>Estado</mat-label>
        <mat-select formControlName="estado">
          <mat-option *ngFor="let state of estados | async" [value]="state.sigla">{{ state.nome }}</mat-option>
        </mat-select>
        <mat-error> {{getErrorMessage('endereco.estado')}} </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="start start">
    <mat-form-field appearance="outline" fxLayoutGap fxFlex="25">
      <mat-label>Cargo</mat-label>
      <mat-select formControlName="cargo" [compareWith]="compararCargos">
        <mat-option *ngFor="let cargo of cargos" [value]="cargo">{{ cargo.desc }}</mat-option>
      </mat-select>
      <mat-error> {{getErrorMessage('cargo')}} </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" fxLayoutGap fxFlex="25" fxFlexOffset="5">
      <mat-label>Tecnologias</mat-label>
      <mat-select formControlName="tecnologias" multiple>
        <mat-option *ngFor="let tecnologia of tecnologias" [value]="tecnologia.nome">{{ tecnologia.desc }}</mat-option>
      </mat-select>
      <mat-error> {{getErrorMessage('tecnologias')}} </mat-error>
    </mat-form-field>

    <div fxLayoutGap fxFlex="35" fxFlexOffset="5">
      <label>Newsletter: </label>
      <mat-radio-group formControlName="newsletter">
        <mat-radio-button *ngFor="let op of newsletterOp" fxFlexOffset="1" [value]="op.valor">{{ op.desc }}</mat-radio-button>
      </mat-radio-group>
      <mat-error> {{getErrorMessage('newsletter')}} </mat-error>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center">
    <button mat-raised-button type="submit" color="primary" fxFlex="20">Submit</button>
    <button mat-raised-button (click)="setarCargo()" type="button" color="warn" fxFlexOffset="5" fxFlex="20">Setar
      cargo</button>
    <button mat-raised-button (click)="setarTecnologias()" type="button" color="warn" fxFlexOffset="5" fxFlex="20">Setar
      tecnologias</button>
    <button mat-raised-button (click)="resetar()" type="button" color="warn" fxFlexOffset="5"
      fxFlex="20">Resetar</button>
  </div>

  <app-form-debug [form]="formulario"></app-form-debug>
</form>
