<p fundoAmarelo>
    Texto com fundo amarelo.
</p>

<button fundoAmarelo>Botão com fundo amarelo</button>

<br><br>

<p highlightMouse>
    Texto com highlight quando passo o mouse.
</p>

<p [highlight]="'red'" [defaultColor]="'grey'">
    Texto com highlight com cores customizadas.
</p>

<div *ngIf="mostrarCurso">
    Lista de cursos aqui
</div>

<div *ngElse="mostrarCurso">
    Não existem cursos para serem listados.
</div>

<br>

<button (click)="onMostrarCurso()">Mostrar ou esconder cursos</button>