<div class="container">

  <!-- <app-property-binding></app-property-binding> -->

  <!-- <app-class-style-binding></app-class-style-binding> -->

  <!-- <app-event-binding></app-event-binding> -->

  <!-- <app-two-way></app-two-way> -->

  <!-- <app-ciclos></app-ciclos> -->

  <!-- <app-diretivas></app-diretivas> -->

  <!-- <app-operador-elvis></app-operador-elvis> -->

  <!-- <app-ng-content>
    <div class="titulo">Título do painel</div>
    <div class="corpo">
      Conteúdo da tag
      <app-operador-elvis></app-operador-elvis>
    </div>
    <div class="corpo">
      Conteúdo da tag 2
      <app-operador-elvis></app-operador-elvis>
    </div>
  </app-ng-content> -->

  <!-- <app-diretivas-customizadas></app-diretivas-customizadas> -->

  <!-- <app-criar-curso></app-criar-curso>

  <br>

  <app-cursos></app-cursos> -->

  <app-exemplos-pipes></app-exemplos-pipes>

</div>
