<div class="container">
  <!-- <app-cursos></app-cursos> -->

  <!-- <app-ciclos></app-ciclos> -->

  <!-- <app-diretivas></app-diretivas> -->

  <!-- <app-operador-elvis></app-operador-elvis> -->

  <!-- <app-ng-content>
    <div class="titulo">Título do painel</div>
    <div class="corpo">
      Conteúdo da tag
      <app-operador-elvis></app-operador-elvis>
    </div>
    <div class="corpo">
      Conteúdo da tag 2
      <app-operador-elvis></app-operador-elvis>
    </div>
  </app-ng-content> -->

  <app-diretivas-customizadas></app-diretivas-customizadas>
</div>
